{% extends 'base.html' %}
{% load static %}
{% block titulo %}Nosotros{% endblock titulo %}
{% block contenido %}


<div class="contenedor-titulo-seccion">
    <div style="display: flex; padding-left: 20px; padding-top: 10px;">
        <h2>Nuestro staff</h2>

    </div>
    
    <hr style="border: 2px solid #3498db; margin-left: 20px; margin-right: 20px;">

    <!--- Manifiesto de la pagina --->
        <p> TurisAR es una página comunitaria que permite que las personas fomenten el turismo y a su vez compartan sus experiencias como verdaderos viajeros argentinos.
            Desarrollada conjuntamente por el grupo 3 en el Curso de Desarrollo Web en Django / Python cuyos enlaces dejamos a continuación.
        </p>
        <a href="https://github.com/Purplesoulx/BlogdeViajesgrupo3">Enlace GIT</a>
        <br>
        <a href="https://empleo.chaco.gob.ar/capacitaciones/Introducción-a-la-Programación">Enlace al curso de la provincia del Chaco</a>
        <p>Correo electrónico de contacto: alangonzález91 (arroba) gmail.com</p>
        <!--- <img src="{% static 'img/Fondo1.jpg' %}" class="Banner"> --->
    </div>

<div class="contenedor-contenido-seccion">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br> 
    <br> 
    <br>
    <br>
    <br>

        <div class="tarjetas-nosotros">
                <div class="tarjeta-persona">
                    <div class="etiqueta-flotante">
                        Rodrigo Fernández
                    </div>
                    <div class="contenido">
                        Diseño de entorno git, enrutamiento y despliegue
                        Desarrollo frontend.
                    </div>
                    <div class="etiqueta-flotante-pie">
                        @Grupo 3
                    </div>
                </div>        

                <div class="tarjeta-persona">
                    <div class="etiqueta-flotante">
                        Alan González
                    </div>
                    <div class="contenido">
                        Concepto, desarrollo backend, desarrollo frontend, estilos.
                    </div>
                    <div class="etiqueta-flotante-pie">
                        @Grupo 3
                    </div>
                </div>  

                <div class="tarjeta-persona">
                    <div class="etiqueta-flotante">
                        Franco Maciel
                    </div>
                    <div class="contenido">
                        Testeo y aporte de idea.
                    </div>
                    <div class="etiqueta-flotante-pie">
                        @Grupo 3
                    </div>
                </div>  

                <div class="tarjeta-persona">
                    <div class="etiqueta-flotante">
                        Camila Villalba
                    </div>
                    <div class="contenido">
                        Testeo y aporte de idea.
                    </div>
                    <div class="etiqueta-flotante-pie">
                        @Grupo 3
                    </div>
                </div>  


                <div class="tarjeta-persona">
                    <div class="etiqueta-flotante">
                        Ferreira Axel
                    </div>
                    <div class="contenido">
                        Testeo de entorno y aporte de idea.
                    </div>
                    <div class="etiqueta-flotante-pie">
                        @Grupo 3
                    </div>
                </div>  

                
                <div class="tarjeta-persona">
                    <div class="etiqueta-flotante">
                        Micaela Calvente
                    </div>
                    <div class="contenido">
                        Dictado del curso, asesoria de plataforma, especialidad: desarrollo web, python y django.
                    </div>
                    <div class="etiqueta-flotante-pie" style="background-color: darkslategray;">
                        @Institución / Profesora 
                    </div>
                </div>  
                
                
                <div class="tarjeta-persona">
                    <div class="etiqueta-flotante">
                        Gerardo Serrano
                    </div>
                    <div class="contenido">
                        Seguimiento, dictado de practiva, asesoramiento y solución de problemas.
                    </div>
                    <div class="etiqueta-flotante-pie" style="background-color: darkslategray;">
                        @Institución / Mentor
                    </div>
                </div>                  
        </div>        
   
</div>
{% endblock contenido %}